<%- include('../partials/header') %>

  <form id="edit-recipe-form" action="/recipes/<%= recipe._id %>?_method=PUT" method="POST">
    <label>Title:</label>
    <input type="text" name="title" value="<%= recipe.title %>">
    <label>Cuisine:</label>
    <input type="text" name="cuisine" value="<%= recipe.cuisine %>">
    <label>Ingredients</label>
    <textarea style="white-space: pre;" name="ingredients"><%= recipe.ingredients %></textarea>
    <label>Method</label>
    <textarea style="white-space: pre;" name="method"><%= recipe.method %></textarea>
    <input type="submit" value="Edit Recipe">

  </form>

<%- include('../partials/footer') %>