<%- include('../partials/header') %>

<div class="section-color-pack" id="index-display">
  <table id="list">
    <thead>
      <tr>
        <th>Title</th>
        <th>Cuisine</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% recipes.forEach(function(r) { %>
        <tr>
          <td><%= r.title %></td>
          <td><%= r.cuisine %></td>
          <td><a href="/recipes/<%= r._id %>">DETAILS</a></td>
        </tr>
      <% }); %>
    </tbody>
   </table>
  </div>

<%- include('../partials/footer') %>
